@media (width >= 1024px) {
    #container1{
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        width: 100%;
    }
    #container2{
        display: flex;
        gap: 2rem;
    }
}